.root {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 60px;
}

.logo {
  height: 200px;
  width: 200px;
}

.name {
  font-family: var(--title-font), sans-serif;
  font-size: 72px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
}
