@use 'sass:color';
@use '@/styles/variables' as *;

:root {
  --background-color: #fbf4e5;
  --page-background-color: #f2e4c9;
  --main-text-color: #{$text-color};
  --light-text-color: #{color.mix(color.scale($text-color, $lightness: 30%), #555, 30%)};
  --accent-text-color: #165c96;
  --book-background-color1: #3f5b70;
  --book-text-color1: #f9f9f7;
  --book-background-color2: #ab4736;
  --book-text-color2: #f9f9f7;
  --ui-font: var(--font-inter);
  --book-font: var(--font-noto-sans);
  --title-font: var(--font-alegreya);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--main-text-color);
  background: var(--background-color);
  font-family: var(--ui-font), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  fill: currentColor;
}

form {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;

  label {
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
    font-size: 12px;
    font-weight: 500;
    color: var(--light-text-color);
  }
}

@media ($desktop-media) {
  .mobile:not(.desktop) {
    display: none;
  }
}

@media ($mobile-media) {
  .desktop:not(.mobile) {
    display: none;
  }
}
